extends layout

block content
  div.container
    div(class="row" ng-controller="TopStateController" ng-init="state='programmer'")
      h1= title
      div.row.global-nav
        ul(class="nav nav-tabs" role="tablist")
          li(ng-class="currentState('programmer') ? 'active' : ''")
            a(ng-click="switchState('programmer')") Programmer
          li(ng-class="currentState('viewer') ? 'active' : ''")
            a(ng-click="switchState('viewer')") Viewer
      div(class="row" id="programmer" ng-if="currentState('programmer')" ng-controller="ProgrammerController")
        div.col-md-6
          div.row
            form(name="instructionForm" ng-submit="instructionWrite()")
              div(class="input-group input-group-lg")
                span.input-group-btn
                  button(class="btn btn-default" type="button" ng-click="removeClick()")
                    span.glyphicon.glyphicon-remove-sign
                input(ng-model="instruction.line" type="text" class="form-control instr_form")
                span.input-group-btn
                  button(class="btn btn-primary" ng-disabled="unfinished" type="submit") Insert 
                    span.glyphicon.glyphicon-play
          div.row.op-group(ng-if="padMode('op')")
            div(ng-repeat="op in opecodes" ng-click="opClick(op.name)" class="btn btn-default opecode col-md-3")
              p(class="name") {{ op.name }}
              p(class="desc") {{ op.desc }}
              p(class="sign") {{ op.sign }}
          div.row.number-pad(ng-if="padMode('num')")
            div(ng-repeat="n in numberpad" ng-click="numClick(n)" class="btn btn-default opecode col-md-3")
              p(class="sign") {{ n }}
            div(ng-click="numFinishClick()" class="btn btn-primary opecode col-md-3")
              p(class="sign") Enter
          
        div.col-md-3
          div
            button(class="btn btn-danger btn-lg btn-block" disabled="disabled") inst mem
          p.wire
            span.glyphicon.glyphicon-arrow-down
          div(ng-repeat="reg in registers")
            button(class="btn btn-info btn-lg btn-block" ng-click="regClick(reg)") {{ reg }}
          p.wire
            span.glyphicon.glyphicon-arrow-down
          div
            button(class="btn btn-primary btn-lg btn-block" disabled="disabled") ALU
          p.wire
            span.glyphicon.glyphicon-arrow-down
          div
            button(class="btn btn-default btn-lg btn-block") data mem
          p.wire
            span.glyphicon.glyphicon-arrow-down
        div.col-md-3
          ul(ui-sortable="sortableOptions" ng-model="instruction.array" class="instr-mem list-group")
            li(ng-repeat="instr in instruction.array track by $index" class="list-group-item")
              span(ng-click="labelClick($index)") [{{ $index }}] {{ instr }}
              span(ng-click="instrItemRemove($index)")
                span.glyphicon.glyphicon-remove-sign
          form(name="asmForm" ng-submit="asmWrite()")
            input(class="btn btn-danger btn-lg btn-block" type="submit" value="Write")
          p(ng-model="instruction.result") {{ instruction.result }}

      div(class="row" id="viewer" ng-if="currentState('viewer')" ng-controller="ViewerController")
        div
          div(ng-repeat="inst in instructions" class="instrs" ng-class="{active: isActive($index)}")
            h3(class="name") {{ inst.name }}
            p(class="desc") {{ inst.desc }}
            p(class="sign") {{ inst.sign }}
