body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#programmer .wire {
  font-size: 300%;
  text-align: center;
  margin-top: 0.1em;
}

#programmer .op-group {
  margin-top: 1em;
  border-radius: 10px;
  border: 2px solid rgb(66, 139, 202);
}

#programmer .opecode.active {
  background-color: #CE579B;
}

#programmer .opecode {
  border-radius: 10px;
  margin: 1em;
  height: 9em;
  padding: 1em;
  text-align: left;
}
#programmer .opecode .name {
  font-weight: bold;
}
#programmer .opecode .sign {
  font-size: 300%;
}

#viewer .mem {
  border-radius: 10px;
  border: 2px solid black;
  margin: 1em;
  height: 200px;
  width: 200px;
  padding: 1em;
  background-color: #A6E39D;
  font-weight: bold;
  font-size: 120%;
}

#viewer .wire {
  color: gray;
  font-size: 1000%;
}

#viewer .fetch {
  float: left;
}

#viewer .processor {
  clear: both;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1em;
  padding: 3em;
}

#viewer .instrs.active {
  background-color: #CE579B;
}

#viewer .instrs {
  border-radius: 10px;
  border: 2px solid black;
  margin: 1em;
  float: left;
  height: 200px;
  width: 200px;
  padding: 1em;
}
#viewer .name {
  font-weight: bold;
}
#viewer .sign {
  font-size: 600%;
}
#viewer .clear {
  clear: both;
}
